*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-size: 15px;
  background-color: #f5f5f5;
  color: #5c5959;
}

.hidden {
  display: none;
}

.todo-list-menu {
  width: 60rem;
  margin: 10rem auto;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 2rem #040720;
  font-size: 2rem;
  list-style: none;
}

.list-header,
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  color: #040720;
}

.task-text {
  border: none;
  padding: 0 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #040720;
  outline: none;
}

.todo-list-menu li:not(:nth-last-of-type(2))::after {
  content: "";
  flex-basis: 100%;
  border-bottom: 0.5px solid #d9d9d9;
  padding: 1rem 0;
}

.menu-icon,
.refresh-icon,
.save-icon {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.delete-icon {
  cursor: pointer;
  width: 3.5rem;
}

.taks-input {
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
}

.clear-btn {
  text-align: center;
  cursor: pointer;
  padding: 2rem;
  margin-top: 1.5rem;
  background-color: #d9d9d9;
}

.done {
  text-decoration: line-through;
}
